/* initialisation */
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* health-intro css  */
.health-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2% 10%;
}

h1 {
  font-size: 2.2rem;
  color: rgb(147, 147, 248);
  margin: 20px 10px 20px 10px;
}

.health-intro div {
  display: flex;
}

.health-intro div p {
  padding: 3%;
  line-height: 2;
}
/* countries css */
.countries {
  display: flex;
  flex-wrap: wrap;
  margin: 2% 10%;
  justify-content: space-between;
}
.imgt {
  width: 200px;
  height: 200px;
}
.country div {
  display: flex;
  justify-content: space-between;
  padding: 6%;
}
.country:hover {
  box-shadow: 5px 10px #888888;
}
.country {
  border: 2px black solid;
  margin: 2px;
}
/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
